###############################################################################
# REQUIRED: ENTER YOUR MUSIC FOLDERS  										  #
###############################################################################

MusicFolders = ['/location/of/music/folder1','/location/of/music/folder2']

###############################################################################
# OPTIONAL: SERVER PARAMETERS												  #
# 																			  #
# Port: 				the port to listen									  #
# TimeToNextSong: 		time to wait until next song starts, 				  #
#                    	in seconds (4-15 seconds recommended to 			  #
#                    	alllow clients time to load)						  #
# TimeToDisallowSkips: 	time to wait until skips are allowed				  #
#                		after a new song starts, in seconds					  #
###############################################################################

[Server]
Port = 5000
TimeToNextSong = 9
TimeToDisallowSkips = 3

###############################################################################
# OPTIONAL: CLIENT PARAMETERS												  #
#																			  #
# CheckupWaitTime: 	the wait time in between polls in milliseconds 			  #
# MaxSyncLag: 		minimum acceptable lag between server and 				  #
#					client in milliseconds									  #
###############################################################################

[Client]
CheckupWaitTime = 1500
MaxSyncLag = 50

###############################################################################
# OPTIONAL: REMOTE CLIENT CONFIGURATION 									  #
# Useful for automatically starting Raspberry Pis, uncomment and			  #
# add as many as you want													  #
#																			  #
# You can use Key or use a Password											  #
# (the key searches in home directory first)								  #
# luakit and midori are great to get started with on Pis 					  #
###############################################################################

[Autostart]

#	[Autostart.1]
#	User = 'user'
#	Server = 'someserver.org'
#	Key = '/.ssh/id_rsa'
#	Port = '22'
#	RemoteBrowser = '/usr/bin/midori'

#	[Autostart.2]
#	User = 'pi'
#	Server = '192.168.1.5'
#	Password = 'yourpassword'
#	Port = '22'
#	RemoteBrowser = '/usr/bin/luakit'


