<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">

    <title>Music Sync</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="no-cache" http-equiv="Cache-control">
    <meta content="-1" http-equiv="Expires">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/2.5.0/math.min.js" type="text/javascript">
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js">
    </script>
    <script src="/static/howler.js" type="text/javascript">
    </script>
    <!-- <audio preload="auto" src="/static/sound.mp3?{{ data['random_integer'] }}" id="sound">
  Your browser does not support the audio tag.
</audio> -->
    <link href="/static/normalize.css" rel="stylesheet">
    <link href="/static/skeleton.css" rel="stylesheet">
    <style>
    a { cursor: pointer; }
    </style>
</head>

<body>
<script>

var time = Date.now || function() {
return +new Date.getTime();
}

// CONSTANTS
var CHECK_UP_WAIT_TIME = 1200;
var CHECK_UP_ITERATION = 1;
var check_up_counter = 0;
var MAX_SYNC_LAG = 30;

// GLOBALS
var lagTimes = [];
var computeTimes = [];
var correct_time_delta = [];
var correct_latency = [];
var next_trigger = time() + 1000000;
var true_time_delta = 0;
var true_server_time_delta = 0;
var sound_activated = false;
var seconds_left = 0;
var current_song = "None"
var secondTimeout3 = setTimeout(function() {
console.log('3 seconds left')
}, 100000);
var secondTimeout2 = setTimeout(function() {
console.log('2 seconds left')
}, 100000);
var secondTimeout1 = setTimeout(function() {
console.log('1 seconds left')
}, 100000);
var secondTimeout0 = setTimeout(function() {
console.log('0 seconds left')
}, 100000);
var mainInterval = 0;


var sound = new Howl({
src: ['/static/sound.mp3?{{ data['random_integer'] }}'],
onend: function() {

    var posting = $.post('/nextsong', {
        'message': 'next song please'
    });

    // Put the results in a div
    posting.done(function(data) {
        sound.unload()
        location.reload(true);
    });

},
html5: false,
preload: true
});


function makeRequests(callback) {

for (var i = 0; i < 15; i++) {

  setTimeout(function postRequest() {

// Send the data using post
    var posting = $.post('/sync', {
        'client_timestamp': time(),
        'current_song': current_song
    });

    // Put the results in a div
    posting.done(function(data) {
        current_song = data['current_song']
        latency = time() - data['client_timestamp']
        half_latency = latency / 2.0
        time_delta = time() - data['server_timestamp']
        next_trigger = data['next_song']

        correct_time_delta.push(time_delta + half_latency);
        correct_latency.push(half_latency);
        if (correct_time_delta.length==7) {
          var mean = math.mean(correct_time_delta);
          var median = math.median(correct_time_delta);
          var std = math.std(correct_time_delta);
          var sum = 0
          var num = 0
          for (var j = 0; j < correct_time_delta.length; j++) {
              if (correct_time_delta[j]<median+std) {
                  sum = sum + correct_time_delta[j];
                  num = num + 1;
              }
          }
          true_time_delta = sum / num;

          var mean = math.mean(correct_latency);
          var median = math.median(correct_latency);
          var std = math.std(correct_latency);
          var sum = 0
          var num = 0
          for (var j = 0; j < correct_latency.length; j++) {
              if (correct_latency[j]<median+std) {
                  sum = sum + correct_latency[j];
                  num = num + 1;
              }
          }
          true_server_time_delta = sum / num;

          clearTimeout(secondTimeout3);
          secondTimeout3 = setTimeout(function() {
              console.log('3 seconds left');
              $("div.info1").text('Playing in 3...');
          }, next_trigger - (time() - true_time_delta) - 3000);
          clearTimeout(secondTimeout2);
          secondTimeout2 = setTimeout(function() {
              console.log('2 seconds left');
              $("div.info1").text('Playing in 2...');
          }, next_trigger - (time() - true_time_delta) - 2000);
          clearTimeout(secondTimeout1);
          secondTimeout1 = setTimeout(function() {
              console.log('1 seconds left');
              $("div.info1").text('Playing in 1...');
          }, next_trigger - (time() - true_time_delta) - 1000);
          clearTimeout(secondTimeout0);
          secondTimeout0 = setTimeout(function() {
              console.log('playing song');
              current_song_name = current_song.split(":");
              current_song_name = current_song_name[current_song_name.length-1];
              $("div.info1").html('Playing <b>' + current_song_name + '</b>');
              mainInterval = setInterval(function(){
                checkIfSkipped();
              }, CHECK_UP_WAIT_TIME);
              sound.play();
              if (data['is_playing']==true) {
                  sound.seek(data['song_time'])
              }
              var posting = $.post('/playing', {
              'message': 'im playing a song'
              });

              // Put the results in a div
              posting.done(function(data) {

              });
          }, next_trigger - (time() - true_time_delta));

        }




    });



  }, i*150 );
    
}
}


function checkIfSkipped() {

    var start = new Date().getTime();
    // Send the data using post
    var posting = $.post('/sync', {
        'client_timestamp': time(),
        'current_song': current_song
    });

    // Put the results in a div
    posting.done(function(data) {
      check_up_counter = check_up_counter + 1;
      if (data['is_playing']==false) {
        sound.unload()
        location.reload(true);
      } else if (check_up_counter % CHECK_UP_ITERATION==0) {
        check_up_counter = 0;
          var mySongTime = sound.seek();
          if (typeof(mySongTime)=="object") {
            mySongTime = 0;
          }
        var serverSongTime = data['song_time'];
        current_song = data['current_song']
        var end = new Date().getTime();
        var time = end - start;
        console.log('Execution time1: (ms) ' + time);
        var diff = serverSongTime*1000+time - mySongTime*1000;
        var seekTo = data['song_time']+time/1000.0;
        console.log('Browser: ' + mySongTime.toString() + '\nServer: ' + serverSongTime.toString() + '\nHalf-Latency: ' + true_server_time_delta.toString() + '\nCorrected diff: ' + diff.toString());
        if (Math.abs(diff) > MAX_SYNC_LAG) {
          if (lagTimes.length>4) {
            var meanLag = math.median(lagTimes)/1000.0;
            var meanCompute = math.median(computeTimes)/1000.0;
            console.log('\npreviously seeking to ' + seekTo.toString() + ' now adjusting with ' + meanLag.toString() + ' s lag and ' + meanCompute.toString() + ' s compute time');
            seekTo = seekTo + meanLag + meanCompute;
          }
          console.log('now seeking to ' + seekTo.toString());
          sound.seek(seekTo);
          var end = new Date().getTime();
          var time = end - start;
          console.log('Execution time: (ms) ' + time);
          if (diff>0) {
            lagTimes.push(diff);
          }
           computeTimes.push(time);
          if (meanLag > 5) {
            lagTimes = [];
          }
          sound.volume(0.0);
          CHECK_UP_ITERATION = 1;
        } else {
          lagTimes = [];
          computeTimes = [];
          sound.volume(1.0);
          CHECK_UP_ITERATION = 10;
        } 
      }
    });

}




$(document).ready(function(){
$('a[type=controls]').click(function() {
   var skip = $(this).data('skip');
   console.log(skip);
    $("div.info1").text('Changing song');
    var posting = $.post('/nextsong', {
        'message': 'next song please',
        'skip': parseInt(skip)
    });

    // Put the results in a div
    posting.done(function(data) {
        sound.unload()
        location.reload(true);
    });

});


makeRequests();

});




</script>

    <div class="container">
        <!-- columns should be the immediate child of a .row -->


        <div class="row">
        </div>


        <div class="row">
            <h1><i>μsic</i></h1>
        </div>


        <div class="row">
            <div class="seven columns">
                <a class="button" data-skip="-3" type="controls">Previous</a> <a class="button" data-skip="-2" type="controls">Replay</a> <a class="button" data-skip="-1" type="controls">Next</a>
            </div>


            <div class="five columns">
                <div class="info1">
                    {{ data['message'] }}
                </div>
            </div>
        </div>


        <div class="row">
            <div class="two columns">
            </div>


            <div class="ten columns">
                <div class="info2">
                    {{ data['playlist_html'] | safe }}
                </div>
            </div>
        </div>
    </div>
</body>
</html>